---
layout: page
title: Projects
icon: flaticon-briefcase69
---

<img src="{{ site.url }}/files/i_love_programming.jpg"></img>

<div class="posts">
  {% for project in site.projects reversed %}
  <div >
    <h2 class="post-title">
      <a href="{{ project.url }}">
        {{ project.title }}
      </a>
    </h2>

    <span class="post-date">{{ project.date }}
        {% if project.best == true %}
            <i class="flaticon-award52"></i>
        {% endif %}
    </span>
  </div>
  {% endfor %}
</div>


Last Update in November 2013
